<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">Add new customer</a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span>Thành công</span>
    </div>
    <div th:unless="${success}">
        <span>Lỗi</span>
    </div>
</div>



<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${customers}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.address}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${item.id})}">edit</a></td>
        <td><a th:href="@{/customers/{id}/delete(id=${item.id})}">delete</a></td>
        <td><a th:href="@{/customers/{id}/view(id=${item.id})}">view</a></td>
    </tr>
    </tbody>
</table>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>