<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div th:replace="/layout :: nav-bar"></div>
<h1>Danh sách quân nhân</h1>
<a th:href="@{/add}">Thêm mới</a>
<span th:utext="${message}" id="message" style="color: green"></span>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Level</th>
    </tr>
    <tr th:each="item: ${polices}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.level}"></td>
    </tr>
</table>
<div th:replace="/layout :: footer"></div>
<script>
    setTimeout(() => {
        document.getElementById("message").innerHTML = "";
    }, 2000);
</script>
</body>
</html>